server:
  port: 8083

spring:
  application:
    name: user-management-service

  cloud:
    openfeign:
      discovery:
        enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true

logging:
  level:
    com.user_management: INFO
    org.springframework.cloud.openfeign: DEBUG
